{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}

<div class="container">
    <div class="" style="text-align: start;">
        <h1 class="text-light p-3" style="margin-top: 70px;"><b></b></h1>
    </div>
    <div class="card p-3 d-flex">   
        
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card" style="border: none;">
                    <div class="card-body text-center">
                        <form method="GET" action="">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="text-primary"><b>Desde</b></label>
                                    <input type="date" name="desde" class="form-control" value="{{ desde|date:'Y-m-d' }}">
                                </div>
                                <div class="col-4">
                                    <label for="" class="text-primary"><b>Hasta</b></label>
                                    <input type="date" name="hasta" class="form-control" value="{{ hasta|date:'Y-m-d'}}">
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="div col-4">
                <div class="card" style="border: none;">
                    <div class="card-body">
                        <!--<h4 class="text-primary">Total</h4>
                        <h4 class="text-danger"><b>$ {{ total_rango|intcomma }}</b></h4>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row justify-content-center mt-3">
                <table class="table">
                    <thead class="bg-primary" style="color: aliceblue;">
                        <tr>
                            <th scope="col">Venta #</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cantidad de productos</th>
                            <th scope="col">Total</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venta in venta_list %}
                            {% if venta.detalleventa_set.all %}
                                <tr>
                                    <td class="text-primary"><b>Venta #{{ venta.pk }}</b></td>
                                    <td>{{ venta.get_date }}</td>
                                    <td>{{ venta.get_cart_items|floatformat:0 }}</td>
                                    <td>$ {{ venta.get_cart_total|intcomma }}</td>
                                    <td>
                                        <a class="btn btn-danger" style="margin: 15px;"
                                            href="{% url 'venta:anular' venta.id %}">Anular</a>
                                        <a class="btn btn-success" style="margin: 15px;"
                                            href="{% url 'venta:imprimir_ticket' venta.id %}">Imprimir</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
</div>
{% endblock %}
